.comment-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d2643;
    width: 40%;
    max-width: 90%;
    padding: 20px;
    border-radius: 5px;
    height: auto;
}

.comment-input {
    width: 100%;
    height: 8rem;
    background-color: #1d2643;
    border: none;
    color: white;
    outline: none;
    resize: none;
}

.comment-input::-webkit-scrollbar {
    width: 0.4rem;
}

.comment-input::-webkit-scrollbar-track {
    background: transparent;
}

.comment-input::-webkit-scrollbar-thumb {
    background: rgba(231, 226, 226, 0.3);
    border-radius: 0.25rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}
