.connections-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1d2643;
    width: max-content;
    max-width: 90%;
    padding: 20px;
    border-radius: 5px;
}

.top {
    display: flex;
    justify-content: space-between;
}