.home-page {
    display: flex;
}

.home-container {
    width: 47%;
    height: 100vh;
    overflow-y: auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.home-container::-webkit-scrollbar {
  width: 0rem;
}

.home-container::-webkit-scrollbar-track, .post-input::-webkit-scrollbar-track {
  background: transparent;
}

.title-container {
    text-align: center;
    font-size: 18px;
    padding: 0.8rem 0;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #171e35;
}

.text {
    margin: 0;
}