@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.login-component {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #171e35;
}

.login-page {
    border: 1px solid white;
    background-color: #98c1d9;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.login-head {
    text-align: center;
    font-size: 25px;
    margin: 1rem;
}

.login {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    padding: 0.3rem;
    margin: 0.5rem 0;
    background-color: #171e35;
    color: white;
    border: 1.5px solid #171e35;
    border-radius: 0.4rem;
}

.login-as-guest {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    padding: 0.3rem;
    margin: 0.5rem 0;
    border: 1.5px solid #171e35;
    border-radius: 0.4rem;
}

.login:hover {
    opacity: 0.7;
}

.login-as-guest:hover {
    background-color: #171e35;
    color: white;
}

.password-container {
    position: relative;
}

.auth-input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem;
    margin: 0.5rem 0 1rem 0;
    border: 1px solid;
    border-radius: 0.4rem;
}
  
.toggle-password-btn {
    position: absolute;
    top: 45%;
    right: 0.5rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.toggle-password-icon {
    padding-right: 4px;
}

.signup-link {
    text-decoration: none;
    color: #171e35;
}

.signup-link:hover {
    text-decoration: underline;
}