.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85vh;
  margin-left: 1.5rem;
  padding-top: 2.5rem;
  padding-left: 4rem;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  margin-bottom: 1.5rem;
}

.icon {
  margin-right: 10px;
}

.app-heading {
  display: flex;
  padding-bottom: 1rem;
}

.app-logo {
  width: 30px;
  height: 30px;
}

.app-title {
  font-size: large;
  margin: 0;
  padding-left: 0.5rem;
}

.logout-btn {
  width: 70%;
  background-color: #98c1d9;
  color: #171e35;
  border: #171e35 2px solid;
  padding: 0.5rem;
}