.main-nav {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  margin-right: 1.5rem;
  padding-top: 2.5rem;
  padding-left: 1.7rem; 
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0;
  gap: 10px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0.7rem 0.9rem;
}

.icon {
  margin-right: 10px;
}

.app-heading {
  display: flex;
  padding-bottom: 1rem;
  cursor: pointer;
}

.app-logo {
  width: 30px;
  height: 30px;
}

.app-title {
  font-size: large;
  margin: 0;
  padding-left: 0.5rem;
}

.user-profile {
  margin-top: auto;
  margin-bottom: 10px;
}

.user-avatar {
  width: 3rem;
  border-radius: 2rem;
}

.logout-btn {
  cursor: pointer;
  width: 70%;
  background-color: #98c1d9;
  color: #171e35;
  border-radius: 1.5rem;
  border: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.logout-btn:hover {
  background-color: #171e35;
  color: white;
}

.user-details-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 0.5rem;  
}

.user-profile:hover, .nav-link:hover {
  background-color: #171e35;
  border-radius: 2rem;
}

.user-details {
  margin: 0;
  width: max-content;
}

.user-details-username {
  margin: 0;
  color: rgb(163, 160, 160);
  width: max-content;
}

.max {
  min-width: 10rem;
}