.individual-post-container {
    border-bottom: 1px solid white;
    padding: 1rem;
    background-color: #171e35;
    position: relative;
    cursor: pointer;
}                                                                                                                                                                                                                                                                                           

.post-text {
    padding: 0.5rem 3.5rem;
    margin: 0;
}

.post-image {
    width: 70%;
    margin: 0.5rem 3.5rem 0 3.5rem;
    border-radius: 0.5rem;
}

.no-gap {
    gap: 0;
}

.date {
    color: rgb(163, 160, 160);
}

.post-action-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 3.5rem 0rem 3.5rem;
}

.post-action-icon {
    font-size: 20px;
    color: #b6d7ea;
}

.post-action {
    display: flex;
    gap: 0.7rem;
    color: #b6d7ea;
}

.post-action-container {
    display: flex;
    flex-direction: column;
}

.light {
    color: white;
    margin-right: 0.5rem;
}

.action-option-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 20px;
    cursor: pointer;
    padding: 0.5rem;
}

.options-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.5rem;
    right: 1rem;   
    z-index: 1;
    border-radius: 0.5rem;
}

.options-box button {
    font-size: 15px;
    text-align: left;
    background-color: #2a3761;
    border: none;
    color: white;
    padding: 0.5rem 0.7rem;
    cursor: pointer;
}

.options-box button:hover {
    background-color: #222c4e;  
}

.edit {
    border-radius: 0.5rem 0.5rem 0 0;
}

.delete {
    border-radius: 0 0 0.5rem 0.5rem;
}