@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.signup-component {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #171e35;
}

.signup-page {
    border: 1px solid white;
    background-color: #98c1d9;
    border-radius: 0.5rem;
    width: 20rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.signup-heading {
    text-align: center;
    font-size: 25px;
    margin: 1rem;
}

.signup-btn {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    padding: 0.3rem;
    margin: 0.5rem 0;
    background-color: #171e35;
    color: white;
    border: 1.5px solid #171e35;
    border-radius: 0.4rem;
}

.signup-btn:hover {
    opacity: 0.7;
}

.signin-link {
    text-decoration: none;
    color: #171e35;
}

.signin-link:hover {
    text-decoration: underline;
}

.confirm-password-container {
    position: relative;
} 

@media (max-width: 414px) {
    .signup-page {
        width: 90%;
    }
}