.right-container { 
    width: 30%;
    padding: 1.9rem 2.2rem;
}

#s-users-container {
    background-color: #171e35;
    padding: 1rem 1.5rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
    max-height: 74vh;
    overflow-y: auto;
}

#s-users-container::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175);
    border-radius: 0.25rem;
}

#single-s-user-container {
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
    cursor: pointer;
}

.s-user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 1.5rem;
}

.user-details-container {
    flex-grow: 1;
}

.s {
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.bold {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

.light-btn {
    background-color: #98c1d9;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-left: 0.3rem;
    cursor: pointer;
}

.light-btn:hover { 
    opacity: 0.5;
}

#search-bar {
    background-color: #171e35;
    width: 17rem;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1rem;
}

#search-bar::placeholder {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(163, 160, 160);
}

#searched-users-container {
    background-color: #98c1d9;
    color: black;
    position: fixed;
    width: 15.4rem;
    max-height: 10rem;
    overflow-y: auto;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    top: 5.5rem;
}

#searched-users-container::-webkit-scrollbar, #s-users-container::-webkit-scrollbar {
  width: 0.4rem;
}

#searched-users-container::-webkit-scrollbar-track, #s-users-container::-webkit-scrollbar-track {
  background: transparent;
}

#searched-users-container::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

.dark {
    color:  rgb(109, 106, 106);
}